<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Confirmation de commande - email</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="icon" type="image/x-icon" href="/projet4/web/favicon.ico">
        <style>
            #banner {
                display: flex;
                align-content: center;
                background-color: rgb(34,34,34);
                color: white;
                height: 100px;
            }
            #logo, img{
                height: 100px;
                margin: auto;
            }
            body {
                background-color: rgb(198,198,198);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="banner" class="row">
                <div id="logo"><a href="{{ path('homepage-billetterie') }}"><img src="http://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg"></a></div>
            </div>
            <div id="content" class="row text-center">
                <h2>votre commande du {{ commande.dateReservation |date("d/m/Y") }}</h2>
                <ul class="list-unstyled">
                    <li>Date de visite : {{ commande.dateVisite |date("d/m/Y") }} </li>
                    {% if commande.type == 'journee'%}
                        <li>Type de billets : Journée </li>
                    {% elseif commande.type == 'demi-journee' %}
                        <li>Type de billets : Demi-journée </li>
                    {% endif %}
                    <li>Nombre de billets : {{ commande.nombreBillets }}</li>
                    <li>Montant Total : {{ commande.montantTotal }} €</li>
                    <li>Code de la réservation : {{ commande.codeReservation }}</li>
                </ul>
                <h3>vos billets</h3>
                <p>N'oubliez pas de vous munir d'une pièce d'identité pour chaque visiteurs et si nécessaire des justificatifs pour les billets à tarif réduit.</p>
                {% for billet in commande.billets %}
                    <div>
                        <p>
                            <strong>Billet n° {{ loop.index }} ({{ billet.tarif }} €) :</strong>
                            {{ billet.prenom }} {{ billet.nom }}
                            ({{ billet.dateNaissance |date("d/m/Y") }})
                            {{ billet.pays }}
                            {% if billet.tarifReduit == true %}
                            / tarif réduit (Justificatif nécessaire)
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{{path('affichage-email', {'codeReservation': commande.codeReservation}) }}">Afficher l'email sur votre navigateur</a>
            </div>
        </div>
    </body>
</html>
