{% extends 'base.html.twig' %}
{% block title %}Votre visite - Billetterie{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
    <ul class="progress-indicator">
        <li class="completed"> <span class="bubble"></span> Votre visite </li>
        <li> <span class="bubble"></span> vos billets </li>
        <li> <span class="bubble"></span> paiement </li>
        <li> <span class="bubble"></span> confirmation </li>
    </ul>
    </div>
    <h2>Votre Visite</h2>

    <div class="well">
        {# On affiche tous les messages flash dont le nom est « erreur » #}
        {% for message in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {{ form_start(formCommande, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(formCommande) }}


        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(formCommande.dateVisite, "Date de la Visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(formCommande.dateVisite)}}
            </div>
            <div class="col-sm-6">
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(formCommande.dateVisite) }}
            </div>
        </div>

        {# Idem pour un autre champ. #}
        <div class="form-group">
            {{ form_label(formCommande.type, "Type de Billet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(formCommande.type) }}
            <div class="col-sm-10">
                {{ form_widget(formCommande.type) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formCommande.nombreBillets, "Nombre de billets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(formCommande.nombreBillets) }}
            <div class="col-sm-1">
                {{ form_widget(formCommande.nombreBillets) }}
            </div>
            <div>
                {# On affiche tous les messages flash dont le nom est « erreur » #}
                {% for message in app.session.flashbag.get('warningNbBillets') %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(formCommande.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}


        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(formCommande) }}
    </div>


{% endblock %}