{# page pour le premier formulaire renseignant les infos de la visite #}
{% extends 'base.html.twig' %}
{% block title %}Votre visite - Billetterie{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
    <ul class="progress-indicator">
        <li class="completed"> <span class="bubble"></span> Votre visite </li>
        <li> <span class="bubble"></span> Vos billets </li>
        <li> <span class="bubble"></span> Paiement </li>
        <li> <span class="bubble"></span> Confirmation </li>
    </ul>
    </div>
    <h2 class="text-center">Votre visite</h2>

    <div class="well">
        {{ form_start(formCommande, {'attr': {'class': 'form-horizontal'}}) }}
        <div id="erreur" class="text-center">
            {# On affiche tous les messages flash dont le nom est « erreur » #}
            {% for message in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {{ form_errors(formCommande) }}
            {{ form_errors(formCommande.dateVisite) }}
            {{ form_errors(formCommande.type) }}
            {{ form_errors(formCommande.nombreBillets) }}
        </div>
        {# DATE DE VISITE #}
        <div class="form-group well">

            <h3 class="row text-center">
            {{ form_label(formCommande.dateVisite, "Date de la Visite", {'label_attr': {'class': 'control-label'}}) }}
            </h3>
            <p class="text-center">Sélectionnez la date de votre visite. Vous ne pouvez pas sélectionner un mardi, un dimanche ou un jour férié.</p>
            <div class="row ">

                <div id="container-datepicker" class="col-sm-offset-2 col-sm-3">
                    <div id="datepicker" data-date-format="yyyy-mm-dd"></div>
                </div>
                <div id="info-datevisite" class="col-sm-offset-2 col-sm-3">
                    <div>
                        <p class="text-center"><strong>Date sélectionnée : </strong></p>
                        {{ form_widget(formCommande.dateVisite)}}
                        <p id="date-selected" class="text-center">{{ "now"|date("d/m/Y") }}</p>
                    </div>
                </div>
            </div>
        </div>

        {# TYPE DE BILLET #}
        <div class="form-group text-center well">
            <h3 class="row text-center">{{ form_label(formCommande.type, "Type de Billet", {'label_attr': {'class': 'control-label'}}) }}</h3>
            <p>Un billet "journée" vous permet d'acceder au musée dès 9h tandis qu'un billet "demi-journée" vous permet d'accéder au musée à partir de 14h.</p>
            <div >
                {{ form_widget(formCommande.type) }}
            </div>
        </div>

        {# NOMBRE DE BILLETS #}
        <div class="form-group well">

            <h3 class="row text-center">{{ form_label(formCommande.nombreBillets, "Nombre de billets", {'label_attr': {'class': 'control-label'}}) }}</h3>
            <p class="text-center">Vous pouvez commander jusqu'à 10 billets sur une même commande, au delà, nous vous invitons à nous contacter.</p>
            <div class="col-sm-offset-5 col-sm-2">
                {{ form_widget(formCommande.nombreBillets, {'attr': {'class': 'text-center'}}) }}
            </div>
        </div>


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <div class="row">
        {{ form_widget(formCommande.Suivant, {'attr': {'class': 'btn btn-orange col-xs-offset-8 col-xs-3 text-center'}}) }}
        </div>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(formCommande) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('datepicker/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>

    <script src="{{ asset('js/choixVisite.js') }}"></script>
{% endblock %}
