{% extends 'base.html.twig' %}
{% block title %}Votre visite - Billetterie{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
    <ul class="progress-indicator">
        <li class="completed"> <span class="bubble"></span> Votre visite </li>
        <li> <span class="bubble"></span> vos billets </li>
        <li> <span class="bubble"></span> paiement </li>
        <li> <span class="bubble"></span> confirmation </li>
    </ul>
    </div>
    <h2 class="text-center">Votre Visite</h2>

    <div class="well">
        {# On affiche tous les messages flash dont le nom est « erreur » #}
        {% for message in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {{ form_start(formCommande, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(formCommande) }}
        {# DATE DE VISITE #}
        <div class="form-group well">

            <h3 class="row text-center">
            {{ form_label(formCommande.dateVisite, "Date de la Visite", {'label_attr': {'class': 'control-label'}}) }}
            </h3>
            <div class="row ">

                <div id="datepicker" data-date-format="yyyy-mm-dd" class="col-sm-offset-2 col-sm-3 col-xs-offset-2"></div>
                <div id="info-datevisite" class="col-sm-offset-2 col-sm-3">
                    <div>
                        <p class="text-center"><strong>Date sélectionnée : </strong></p>
                        {{ form_widget(formCommande.dateVisite)}}
                        <input type="text" id="date-selected" value="{{ "now"|date("d/m/Y") }}" class="text-center">
                        {{ form_errors(formCommande.dateVisite) }}
                    </div>
                </div>
            </div>
        </div>

        {# TYPE DE BILLET #}
        <div class="form-group text-center well">
            <h3 class="row text-center">{{ form_label(formCommande.type, "Type de Billet", {'label_attr': {'class': 'control-label'}}) }}</h3>
            <div >
                {{ form_widget(formCommande.type) }}
            </div>
            {{ form_errors(formCommande.type) }}
        </div>

        {# NOMBRE DE BILLETS #}
        <div class="form-group well">

            <h3 class="row text-center">{{ form_label(formCommande.nombreBillets, "Nombre de billets", {'label_attr': {'class': 'control-label'}}) }}</h3>

            <div class="col-sm-offset-5 col-sm-2">
                {{ form_widget(formCommande.nombreBillets, {'attr': {'class': 'text-center'}}) }}
            </div>
            <div>
                {{ form_errors(formCommande.nombreBillets) }}
            </div>
            <div>
                {# On affiche tous les messages flash dont le nom est « erreur » #}
                {% for message in app.session.flashbag.get('warningNbBillets') %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <div class="row">
        {{ form_widget(formCommande.Suivant, {'attr': {'class': 'btn btn-orange col-xs-offset-8 col-xs-3'}}) }}
        </div>

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(formCommande) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('datepicker/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>

    <script src="{{ asset('js/choixVisite.js') }}"></script>
{% endblock %}
