{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
        <ul class="progress-indicator">
            <li class="completed"> <span class="bubble"></span><i class="fa fa-check-circle" aria-hidden="true"></i> Votre visite </li>
            <li class="completed"> <span class="bubble"></span> vos billets </li>
            <li> <span class="bubble"></span> paiement </li>
            <li> <span class="bubble"></span> confirmation </li>
        </ul>
    </div>
    <h2>Informations Visiteurs</h2>
    <h3>Récapitulatif des choix précédents : </h3>
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <ul class="list-unstyled">
        <li>Date de visite : {{ app.session.get('commande').dateVisite |date("d/m/Y") }} </li>
        <li>
            {% if app.session.get('commande').type == 'journee'%}
                Type de billets : Journée
            {% elseif app.session.get('commande').type == 'demi-journee' %}
                Type de billets : Demi-journée
            {% endif %}
        </li>
        <li>Nombre de billets : {{ app.session.get('commande').nombreBillets }}</li>
    </ul>
    <a href="{{  path('choix-visite-billetterie') }}">Modifier</a>
    {# On affiche tous les messages flash dont le nom est « erreur » #}
    {% for message in app.session.flashbag.get('erreur') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <h3>Informations pour la commande </h3>
    {{ form_start(formCommande)}}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formCommande) }}


    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(formCommande.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(formCommande.email) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(formCommande.email) }}
        </div>
    </div>
    <h3>Informations Visiteurs</h3>

    {% for billet in formCommande.billets %}
    <div class="form-group">
        <h4>Billet n° {{ loop.index }}</h4>
        {{ form_widget(billet) }}
    </div>
    {% endfor %}

    <div>
        <div class="form-group col-sm-6">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(formCommande.paiement, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

    {{ form_end(formCommande)}}
{% endblock %}

{% block title %}
    Choix des billets - Billetterie
{% endblock %}



