{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
        <ul class="progress-indicator">
            <li class="completed"> <span class="bubble"></span><i class="fa fa-check-circle" aria-hidden="true"></i> Votre visite </li>
            <li class="completed"> <span class="bubble"></span> vos billets </li>
            <li> <span class="bubble"></span> paiement </li>
            <li> <span class="bubble"></span> confirmation </li>
        </ul>
    </div>
    <h2 class="text-center">Informations Visiteurs</h2>
    {# On affiche tous les messages flash dont le nom est « erreur » #}
    {% for message in app.session.flashbag.get('erreur') %}
        <div class="alert alert-danger text-center">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('warningNbBillets') %}
        <div class="alert alert-warning text-center">{{ message }}</div>
    {% endfor %}
    <div class="well">
        <h3 class="text-center">Récapitulatif des choix précédents : </h3>
        <div class="row text-center">
        {% include 'billetterie/recapChoixVisite.html.twig' %}
        </div>
        <h3 class="text-center">Informations pour la commande </h3>
        {{ form_start(formCommande)}}

        {{ form_errors(formCommande) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group well">
            <div class="row text-center">
                <div class="row">
                    <p>Une adresse e-mail est nécessaire pour vous fournir vos billets. Cet email vous sera demandé à l'entrée du musée.</p>
                </div>
                <div class="row">
                {{ form_label(formCommande.email.first, "Votre adresse email", {'label_attr': {'class': 'control-label'}}) }}
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        {{ form_widget(formCommande.email.first) }}
                    </div>
                </div>

            </div>
            <div class="row text-center">
                <div class="row">
                    {{ form_label(formCommande.email.second, "Confirmez votre adresse email", {'label_attr': {'class': 'control-label'}}) }}
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        {{ form_widget(formCommande.email.second) }}
                    </div>
                </div>

            </div>
            <div class="row text-center">
                {{ form_errors(formCommande.email.first) }}
                {{ form_errors(formCommande.email.second) }}
            </div>
        </div>

        <h3 class="text-center">Vos billets</h3>
        <div class="form-group well">
            <p class="text-center">Chaque billet est nominatif, une pièce d'identité vous sera demandée à l'entrée.</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for billet in formCommande.billets %}
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading row" role="tab" id="heading{{ loop.index }}">
                                <h4 class=" panel-title">
                                    <a role="button" class="col-xs-12 btn btn-orange" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{ loop.index }}">
                                        Billet n° {{ loop.index }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ loop.index }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                                <div class="panel-body">
                                    <div class="row more-margin">
                                        <div class="col-sm-1">
                                            {{ form_label(billet.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_widget(billet.nom) }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label(billet.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_widget(billet.prenom) }}
                                        </div>
                                    </div>
                                    <div class="row more-margin">
                                        <div class="col-sm-4 col-md-2">
                                            {{ form_label(billet.dateNaissance, "Date de naissance", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-sm-8 col-md-4">
                                            {{ form_widget(billet.dateNaissance) }}
                                        </div>
                                        <div class="col-sm-2 col-md-1">
                                            {{ form_label(billet.pays, "Pays", {'label_attr': {'class': 'control-label'}}) }}
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            {{ form_widget(billet.pays) }}
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            {{ form_widget(billet.tarifReduit) }}
                                        </div>
                                    </div>
                                    <div id="error" class="row text-center">
                                        {{ form_errors(billet.nom) }}
                                        {{ form_errors(billet.prenom) }}
                                        {{ form_errors(billet.dateNaissance) }}
                                        {{ form_errors(billet.pays) }}
                                        {{ form_errors(billet.tarifReduit) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="row">
                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(formCommande.paiement, {'attr': {'class': 'btn btn-orange col-xs-offset-8 col-xs-3'}}) }}
            </div>
        </div>

        {{ form_end(formCommande)}}
    </div>
{% endblock %}

{% block title %}
    Vos billets - Billetterie
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
