{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/progress-wizard.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="step-wizard">
        <ul class="progress-indicator">
            <li class="completed"> <span class="bubble"></span><i class="fa fa-check-circle" aria-hidden="true"></i> Votre visite </li>
            <li class="completed"> <span class="bubble"></span><i class="fa fa-check-circle" aria-hidden="true"></i> vos billets </li>
            <li class="completed"> <span class="bubble"></span> paiement </li>
            <li> <span class="bubble"></span> confirmation </li>
        </ul>
    </div>
    <h2 class="text-center">Récapitulatif et Paiement</h2>
    <div class="well">
        {% for message in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <h3 class="text-center">Récapitulatif des choix précédents : </h3>
        <div class="row">
            <div class=" col-sm-6 text-center well">
                <h4>Votre Visite</h4>
                {% include 'billetterie/recapChoixVisite.html.twig' %}
            </div>
            <div class=" col-sm-6 text-center well">
                <h4>Vos billets</h4>
                {% for billet in app.session.get('commande').billets %}
                    <div class="well">
                        <h5>Billet n° {{ loop.index }}</h5>
                        <p>{{ billet.prenom }} {{ billet.nom }} (date de naissance : {{ billet.dateNaissance |date("d/m/Y") }})</p>
                        <p>Prix du billet : {{ billet.tarif }} €</p>
                    </div>
                {% endfor %}
                <a href="{{  path('infos-visiteurs-billetterie') }}" class="btn btn-orange">Modifier</a>
            </div>
        </div>
        <div class="well text-center">
            <h4>Montant total : {{ app.session.get('commande').montantTotal }} €</h4>
            <form action="{{ path('retour-paiement-billetterie') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_Dyzokz6lSCgTFBddF8lAAxir"
                        data-amount="{{ app.session.get('commande').montantTotal }}00"
                        data-name="Billetterie"
                        data-description="Louvre"
                        data-locale="auto"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>
{% endblock %}

{% block title %}
    Paiement - Billetterie
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $('.stripe-button-el span').text('paiement');
    </script>
{% endblock %}
